@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato";
  background-color: #333;
  overflow-x: hidden;
}
.show-nav {
  .content {
    transform-origin: top left;
    transform: rotate(-20deg);
    transition: transform 0.4s linear;
  }
  & + nav li {
    transform: translateX(0);
    transition-delay: 0.3s;
  }
}

.circle-container {
  position: fixed;
  z-index: 100;
  top: -100px;
  left: -100px;
  .circle {
    background-color: #ff7979;
    overflow: hidden;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    display: grid;
    grid-template:
      "a a " 100% 50%
      "b c" 50%/ 1fr 1fr;
    button {
      background-color: transparent;
      font-size: 35px;
      color: #fff;
      border: none;
      cursor: pointer;
    }
    #open {
      grid-column: 2/3;
      grid-row: 2/ 3;
    }
    #close {
      grid-column: 1/2;
      grid-row: 2/3;
    }
  }
}
.content {
  background-color: #fff;
  padding: 100px;
  line-height: 2.5rem;
  min-height: 100vh;
  img {
    width: 100%;
  }
  small {
    font-style: italic;
  }
}

nav {
  position: fixed;
  bottom: 20px;
  left: 0;
  color: white;
  ul {
    list-style: none;
    padding: 20px;
    li {
      margin: 20px 0;
      text-transform: uppercase;
      transform: translateX(-100%);
      transition: 0.4s transform ease-in;
      i {
        margin-right: 10px;
        font-size: 20px;
      }
      & + li {
        transform: translateX(-150%);
        margin-left: 15px;
      }
      & + li + li {
        transform: translateX(-200%);
        margin-left: 30px;
      }
    }
  }
}
