/* 
 * When links with a id are being referred to in CSS
 * we use the syntax below
 */
a#Link1:link{
    color:black; 
}
a#Link1:visited{
    color:green;
}
a#Link1:hover{
    color: red; 
    background-color:blue; 
}
a#Link1:active {
    color:blue; 
    -webkit-text-decoration: underline overline red; 
    text-decoration: underline overline red; 
}
/*
 * When links with a class are being referred to in CSS
 * we use the syntax below
 */

a.Link2:link{
    color: green; 
    background-color:red; 
}
a.Link2:visited{
    color:green;
}
a.Link2:hover{
    color: red; 
    background-color:blue; 
}
a.Link2:active {
    color:blue; 
    -webkit-text-decoration: underline overline red; 
    text-decoration: underline overline red; 
}