#Button1{
    color:white;
    display:inline-block; 
    background-color:green;
    font-size:10px; 
    border-radius: 50%; 
    border-style:solid; 
    border-width:8px;
    border-color:black; 
    padding:15px 10px;
}#Button2{
    color:white; 
    text-decoration:none;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    display: inline-block; 
    background-color: blue;
    padding:20px 20px;
    border-style: outset; 
    border-color:green;
    border-width:8px;
    border-radius:30%;
    
}